<nav>
    <div class="navDiv">
        <div class = "site-title">
            <a href = "/"> <h1>Silvestre Blog</h1> </a>
            <p>My own blog site!</p>
        </div>

        <!--
        <div class="lgnreg">
            <div class="acc login">
                <a href="">Login</a>
            </div>
            <div class="acc register">
                <a href="">Register</a>
            </div>
        </div>
        -->
        

        <div class="container">
            <div class="navbar blogs">
                <a href ="/"> Blogs </a>
            </div>
    
            <div class="navbar create-blog">
                <a href ="/blogs/create"> New Blog </a>
            </div>
    
            <div class="navbar about">
                <a href ="/about">About</a>
            </div>
                
        </div>
   
    </div>
    
   


</nav>