<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>N5 <%= title%></title>
    <link href="/assets/nav.css" rel="stylesheet" type="text/css">
    <link href="/assets/404.css" rel="stylesheet" type="text/css">
</head>
<body>
    <%- include("./partials/nav.ejs")%>

    <div class = "not-found">
        <h1>OOPS PAGE NOT FOUND</h1>
    </div>
</body>
</html>