<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>N5 <%= title%></title>
    <link href="/assets/nav.css" rel="stylesheet" type="text/css">
    <link href="/assets/about.css" rel="stylesheet" type="text/css">
</head>
<body>
    <%- include("./partials/nav.ejs")%>

    <div class = "about-content">
        <h2> About the website</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa illum fugit adipisci autem veritatis deleniti assumenda harum dicta iure beatae, facere praesentium quaerat, sit nihil, ipsum facilis nemo magnam! Minima?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa illum fugit adipisci autem veritatis deleniti assumenda harum dicta iure beatae, facere praesentium quaerat, sit nihil, ipsum facilis nemo magnam! Minima?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa illum fugit adipisci autem veritatis deleniti assumenda harum dicta iure beatae, facere praesentium quaerat, sit nihil, ipsum facilis nemo magnam! Minima?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa illum fugit adipisci autem veritatis deleniti assumenda harum dicta iure beatae, facere praesentium quaerat, sit nihil, ipsum facilis nemo magnam! Minima?</p>
    </div>

</body>
</html>
