.about-content{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-left: 10rem;
    margin-right: 10rem; 
    margin-top: 3rem; 
    border-radius: 10px;
    backdrop-filter: blur(14px);
    box-shadow: 2px 2px 2px black;
}

.about-content h2{
    text-align: center;
}

.about-content p{
    text-align: justify;
    margin: 2rem;
}